
div {
    border-style:groove;
}

head {  
    border-style:solid;
}

h1 {
    border-style:inset;
    font-family:"Lucida Console",Monaco, monospace;
    text-align:center;
}

h2 {
    border-style:outset;
    font-family:"Lucida Console",Monaco, monospace;
    font-size:90%;
    text-align:center;
    float:center;
}

img {
    display:block;
    border-style:solid;
    margin-left:auto;
    margin-right:auto;
}

p {
    border-style:solid;
    font-family:"Courier New",Courier, monospace;
    text-align:center;
}
