
div {
    border-style:groove;
    float:left;
    width:200px;
    height:300px;
}

head {  
    border-style:solid;
}

h1 {
    border-style:inset;
    font-family:"Lucida Console",Monaco, monospace;
    font-size:50%;
    text-align:center;
}

h2 {
    border-style:outset;
    font-family:"Lucida Console",Monaco, monospace;
    font-size:45%;
    text-align:center;
    float:center;
}

img {
    display:block;
    border-style:solid;
    margin-left:auto;
    margin-right:auto;
    width:120px;
    height:auto;
}

p {
    border-style:solid;
    font-family:"Courier New",Courier, monospace;
    font-size:45%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:120px;
}
